nav {
    display: flex;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background: #aacee5;
}

nav ul {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 3rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav a {
    color: #022456
}

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 1em 0 .6em 0;
    font-weight: normal;
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
    margin: 1em 0 .6em 0;
    font-weight: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: relative;
    font-size: 20px;
    line-height: 20px;
}

h4 {
    margin: 1em 0 .6em 0;
    font-weight: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: relative;
    font-size: 16px;
    line-height: 20px;
}

body {
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: relative;
}

table,
th,
td {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 10px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

th {
    font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif, bolder;
    background-color: #aacee5;
}

td {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #aacee5;
}

button {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 3px 13px;
    border: 2px solid #ffffff;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 2000px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=checkbox],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=checkbox]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #aacee5;
    padding: 8px 15px 8px 15px;
    border: none;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #aacee5;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

.weekDays-selector {
    padding-left: 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aacee5;
    text-align: center;
}