<!-- Scope: Module
Date: 2/14/23
Adapted from OSU 340 Ecampus Flask Starter App
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/app.py -->

<!-- Scope: Line
Date: 2/14/23
Adapted from CSS Horizontal Navigation Bar
Source URL: https://www.w3schools.com/css/css_navbar_horizontal.asp -->

<!-- Scope: Line
Date: 2/24/23
Adapted from Simple Checkbox Day of the Week Custom CSS
Source URL: https://codepen.io/steelwater/pen/BjeZQx -->

<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="members">Members</a></li>
        <li><a href="transactions">Transactions</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="classes">Classes</a></li>
        <li><a href="register">Register for a Class</a></li>
    </ul>
</nav>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <h1>Classes</h1>
</head>

<h3>Add a New Class:</h3>
<form id="addclass" action="/classes" method="post">
    <ul class="form-style-1">
        Class Type: <span class="required">*</span><br><input type="text" name="classtype" required><br><br>
        Trainer: <span class="required">*</span><br><select name="trainername" id="trainername" required>
            <option value="">Select Trainer</option>
        </select><br><br>
        Day:<span class="required" required>*</span>
    </ul>
    <div class="weekDays-selector" required>
        <input type="radio" id="weekday-mon" class="weekday" name="weekday" value="Monday" required/>
        <label for="weekday-mon">Mon</label>
        <input type="radio" id="weekday-tue" class="weekday" name="weekday" value="Tuesday" required/>
        <label for="weekday-tue">Tue</label>
        <input type="radio" id="weekday-wed" class="weekday" name="weekday" value="Wednesday" required/>
        <label for="weekday-wed">Wed</label>
        <input type="radio" id="weekday-thu" class="weekday" name="weekday" value="Thursday" required/>
        <label for="weekday-thu">Thu</label>
        <input type="radio" id="weekday-fri" class="weekday" name="weekday" value="Friday" required/>
        <label for="weekday-fri">Fri</label>
        <input type="radio" id="weekday-sat" class="weekday" name="weekday" value="Saturday" required/>
        <label for="weekday-sat">Sat</label>
        <input type="radio" id="weekday-sun" class="weekday" name="weekday" value="Sunday" required/>
        <label for="weekday-sun">Sun</label>
    </div>
    <ul class="form-style-1">
        Start Time:<span class="required">*</span> <br><input type="time" name="starttime" required><br><br>
        End Time:<span class="required">*</span> <br><input type="time" name="endtime" required><br><br>
        <input type="submit" value="Add Class">
    </ul>
</form>
<br />

<script>
    const trainerDropdown = document.getElementById("trainername");
    fetch("/get_trainer_names")
        .then(response => response.json())
        .then(data => {
            data.forEach(trainer => {
                const option = document.createElement("option");
                option.value = trainer[0];  // trainer_id
                option.text = trainer[1];   // trainer first and last name
                trainerDropdown.appendChild(option);
            })

            // add null trainer option
            const null_option = document.createElement("option");
            null_option.value = "NULL";
            null_option.text = "(No trainer)";
            trainerDropdown.appendChild(null_option);

        })
</script>

<h3>Class Schedule:</h3>
<table>
    <thead>
        <th>Class ID</th>
        <th>Trainer</th>
        <th>Class Type</th>
        <th>Days</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th> </th>
        <th> </th>
    </thead>
    <tbody>
        {% for biwu_class in classes_data %}
        <tr>
            <td>{{biwu_class['class_id']}}</td>
            {% if biwu_class['first_name'] != None and biwu_class['last_name'] != None %}
            <td>{{biwu_class['first_name']}} {{biwu_class['last_name']}}</td>
            {% else %}
            <td>(No trainer)</td>
            {% endif %}
            <td>{{biwu_class['class_type']}}</td>
            <td>{{biwu_class['day_scheduled']}}</td>
            <td>{{biwu_class['start_time']}}</td>
            <td>{{biwu_class['end_time']}}</td>
            <td><a href="delete_class/{{biwu_class.class_id}}" class="button">Delete</a></td>
            <td><a href="edit_class/{{biwu_class.class_id}}" class="button">Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>