<!-- Scope: Module
Date: 2/14/23
Adapted from OSU 340 Ecampus Flask Starter App
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/app.py -->

<!-- Scope: Line
Date: 2/14/23
Adapted from CSS Horizontal Navigation Bar
Source URL: https://www.w3schools.com/css/css_navbar_horizontal.asp -->

<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="../index">Home</a></li>
        <li><a href="../members">Members</a></li>
        <li><a href="../transactions">Transactions</a></li>
        <li><a href="../trainers">Trainers</a></li>
        <li><a href="../classes">Classes</a></li>
        <li><a href="../register">Register for a Class</a></li>
    </ul>
</nav>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <h1>Trainers</h1>
</head>

{% for trainer in trainer_data %}
<h3>Edit Existing Trainer: #{{trainer['trainer_id']}}</h3>
<form id="edittrainer" action="/edit_trainer/{{trainer['trainer_id']}}" method="post">
    <ul class="form-style-1">
        First name:<span class="required">*</span><br><input type="text" name="fname" value="{{trainer.first_name}}" required><br><br>
        Last name: <span class="required">*</span><br><input type="text" name="lname" value="{{trainer.last_name}}" required><br><br>
        Phone number: <span class="required">*</span><br><input type="text" name="phone" pattern="^[0-9- ]+$" minlength="10" maxlength="10" value="{{trainer.phone_number}}" required><br><br>
        Email: <span class="required">*</span><br><input type="email" name="email" value="{{trainer.email}}" required><br><br>
        <input type="submit" value="Edit Trainer">
    </ul>
</form>
{% endfor %}

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>