<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="members">Members</a></li>
        <li><a href="transactions">Transactions</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="classes">Classes</a></li>
    </ul>
</nav>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <h1 class="h-primary">Members</h1>
</head>

<h3>Register a New Member</h3>
<form id="addmember" action="/members" method="post">
    <ul class="form-style-1">
        First name:<span class="required">*</span><br><input type="text" name="fname"><br><br>
        Last name: <span class="required">*</span><br><input type="text" name="lname"><br><br>
        Tier Type: <span class="required">*</span><br><select name="tiertype">
            <option value="standard">Standard</option>
            <option value="premium">Premium</option>
        </select><br><br>
        Phone number: <span class="required">*</span><br><input type="text" name="phone"><br><br>
        Email: <span class="required">*</span><br><input type="text" name="email"><br><br>
        <input type="submit" value="Add New Member">
    </ul>
</form>
<br />

<h3>Current Members</h3>
<table>
    <thead>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Tier Type</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th> </th>
        <th> </th>
    </thead>
    <tbody>
        {% for member in members_data %}
        <tr>
            <td>{{member['member_id']}}</td>
            <td>{{member['first_name']}}</td>
            <td>{{member['last_name']}}</td>
            <td>{{member['tier_type']}}</td>
            <td>{{member['phone_number']}}</td>
            <td>{{member['email']}}</td>
            
            <td><button onclick="">Delete</button></td>
            <td><button onclick="">Update</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>