<!-- Scope: Module
Date: 2/14/23
Adapted from OSU 340 Ecampus Flask Starter App
Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/app.py -->

<!-- Scope: Line
Date: 2/14/23
Adapted from CSS Horizontal Navigation Bar
Source URL: https://www.w3schools.com/css/css_navbar_horizontal.asp -->

<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="members">Members</a></li>
        <li><a href="transactions">Transactions</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="classes">Classes</a></li>
        <li><a href="register">Register for a Class</a></li>
    </ul>
</nav>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <h1 class="h-primary">Register</h1>
</head>

<h3>Register a Member for a Class:</h3>
<form id="register" action="/register" method="post">
    <ul class="form-style-1">
        Member: <span class="required">*</span><br><select name="membername" id="membername" required>
            <option value="">Select Member</option>
        </select><br><br>
    </ul>
    <div class="class-selector" required>
        <h3>Class Schedule:</h3>
        <table>
            <thead>
                <th></th>
                <th>Class ID</th>
                <th>Trainer</th>
                <th>Class Type</th>
                <th>Days</th>
                <th>Start Time</th>
                <th>End Time</th>
            </thead>
            <tbody>
                {% for biwu_class in classes_data %}
                <tr>
                    <td><input type="radio" id={{biwu_class['class_id']}} class="class-selector" name="classid" value={{biwu_class['class_id']}} required/></td>
                    <td>{{biwu_class['class_id']}}</td>
                    <td>{{biwu_class['first_name']}} {{biwu_class['last_name']}}</td>
                    <td>{{biwu_class['class_type']}}</td>
                    <td>{{biwu_class['day_scheduled']}}</td>
                    <td>{{biwu_class['start_time']}}</td>
                    <td>{{biwu_class['end_time']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="form-style-1">
        <input type="submit" value="Register for a Class">
    </ul>
</form>
<br />

<script>
    const memberDropdown = document.getElementById("membername");
    fetch("/get_member_names")  
      .then(response => response.json())
      .then(data => {
        data.forEach(member => {
          const option = document.createElement("option");
          option.value = member[0]; // member_id
          option.text = member[1];  // member first and last name
          memberDropdown.appendChild(option);
        });
      });
  </script>

<h3>Class Registration Log:</h3>
<table>
    <thead>
        <th>Class ID</th>
        <th>Member</th>
    </thead>
    <tbody>
        {% for class in class_registration_data %}
        <tr>
            <td>{{class['classes_class_id']}}</td>
            <td>{{class['first_name']}} {{class['last_name']}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>