<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="members">Members</a></li>
        <li><a href="transactions">Transactions</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="classes">Classes</a></li>
        <li><a href="register">Register for a Class</a></li>
    </ul>
</nav>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <h1 class="h-primary">Register a Member for a Class</h1>
</head>

<h3>Class Registration Log:</h3>
<table>
    <thead>
        <th>Class ID</th>
        <th>Member</th>
    </thead>
    <tbody>
        {% for class in class_registration_data %}
        <tr>
            <td>{{class['classes_class_id']}}</td>
            <td>{{class['first_name']}} {{class['last_name']}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>