<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="members">Members</a></li>
        <li><a href="transactions">Transactions</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="classes">Classes</a></li>
        <li><a href="register">Register for a Class</a></li>
    </ul>
</nav>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <h1>Trainers</h1>
</head>

<h3>Register a New Trainer</h3>
<form id="addtrainer" action="/trainers" method="post">
    <ul class="form-style-1">
        First name: <span class="required">*</span><br><input type="text" name="fname" required><br><br>
        Last name: <span class="required">*</span><br><input type="text" name="lname" required><br><br>
        Phone number: <span class="required">*</span><br><input type="text" name="phone" pattern="^[0-9- ]+$" minlength="10" maxlength="10" required><br><br>
        Email: <span class="required">*</span><br><input type="email" name="email" required><br><br>
        <input type="submit" value="Add New Trainer">
    </ul>
</form>
<br />

<h3>Current Trainers:</h3>
<table>
    <thead>
        <th>Trainer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th> </th>
        <th> </th>
    </thead>
    <tbody>
        {% for trainer in trainer_data %}
        <tr>
            <td>{{trainer['trainer_id']}}</td>
            <td>{{trainer['first_name']}}</td>
            <td>{{trainer['last_name']}}</td>
            <td>{{trainer['phone_number']}}</td>
            <td>{{trainer['email']}}</td>
            
            <td><a href="delete_trainer/{{trainer.trainer_id}}" class="button">Delete</td>
            <td><a href="edit_trainer/{{trainer.trainer_id}}" class="button">Update</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>