<!DOCTYPE html>
<html lang="en">

<nav id="navbar">
    <h2>BW</h2>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="members">Members</a></li>
        <li><a href="transactions">Transactions</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="classes">Classes</a></li>
        <li><a href="register">Register for a Class</a></li>
    </ul>
</nav>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <h1>Transactions</h1>
</head>

<h3>Record a New Membership Transaction</h3>
<form id="addtransaction" action="/transactions" method="post">
    <ul class="form-style-1">
        Member: <span class="required">*</span><br><select name="membername" id="membername" required>
            <option value="">Select Member</option>
        </select><br><br>
        Transaction Amount: <span class="required">*</span><br><input type="number" name="tamount" step="0.01" min="0.01" required><br><br>
        Transaction Date: <span class="required">*</span><br><input type="date" name="tdate" required><br><br>
        <input type="submit" value="Record Transaction">
    </ul>
</form>
<br />

<script>
    const memberDropdown = document.getElementById("membername");
    fetch("/get_member_names")  
      .then(response => response.json())
      .then(data => {
        data.forEach(member => {
          const option = document.createElement("option");
          option.value = member[0]; // member_id
          option.text = member[1];  // member first and last name
          memberDropdown.appendChild(option);
        });
      });
  </script>
  

<h3>Transaction Details</h3>
<table>
    <thead>
        <th>Transaction ID</th>
        <th>Transaction Amount</th>
        <th>Transaction Date</th>
    </thead>
    <tbody>
        {% for transaction in transactions_data %}
        <tr>
            <td>{{transaction['transaction_id']}}</td>
            <td>{{transaction['transaction_amount']}}</td>
            <td>{{transaction['transaction_date']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Membership Transaction History</h3>
<table>
    <thead>
        <th>Transaction ID</th>
        <th>Member</th>
    </thead>
    <tbody>
        {% for transaction in membership_transaction_data %}
        <tr>
            <td>{{transaction['transactions_transaction_id']}}</td>
            <td>{{transaction['first_name']}} {{transaction['last_name']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<body>
    <footer>
        <div class="footer">
            <p>Copyright &copy; Biwu Fitness All rights are reserved.</p>
        </div>
    </footer>
</body>

</html>